{% block content %}
<div class="main-section">
    <div class="container">
        <h4 style="margin-bottom: 0;">¡Bienvenido a Food Court!</h4>
        <p>Completa el siguiente formulario para registrarte.</p>
        
        <hr>

        <div id="form-holder">
            <form action="{% url 'registerUser' %}" method="post"> 
            {% csrf_token %}

                <div class="field-holder">
                    <label>Nombre</label>
                    {{form.first_name}}
                </div>

                <div class="field-holder">
                    <label>Apellido</label>
                    {{form.last_name}}
                </div>     

                <div class="field-holder">
                    <label>Correo electrónico</label>
                    {{form.email}}
                </div>

                <div class="field-holder">
                    <label>Teléfono</label>
                    {{form.phone_number}}
                </div>

                <div class="field-holder">
                    <label>Dirección</label>
                    {{form.adress}}
                </div>

                <div class="field-holder">
                    <label>Contraseña</label>
                    {{form.password}}
                </div>

                <div class="field-holder">
                    <label>Confirmar contraseña</label>
                    {{form.confirm_password}}
                </div>

                <div class="error-holder">
                    <ul class="errorlist">
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li style="color: rgb(0, 0, 0);">{{error}}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        <li style="color: rgb(0, 0, 0);">{{form.non_field_errors}}</li>
                    </ul>
                </div>

                <div class="button-holder">
                    <input type="submit" value="Aceptar" id="btn-submit-usrRegister">
                </div>


                <div class=message-holder>
                    {% if messages %}
                        {% for message in messages %}
                                {{message}}
                        {% endfor %}
                    {% endif %}
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}